.hello {
  padding-top: 95px;
}
.custom-shape-divider-bottom-1725552380 {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  border-bottom: 0;
  margin-bottom: -2px;
}

.custom-shape-divider-bottom-1725552380 svg {
  position: relative;
  display: block;
  width: calc(122% + 1.3px);
  height: 198px;
}

.custom-shape-divider-bottom-1725552380 .shape-fill {
  fill: #f5f5f5;
}
.sectionsContainer {
  text-align: center;
  padding-top: 100px;
  color: white;
}
.section h2 {
  text-decoration: underline;
  font-size: 32px;
}
